Auth:
  JWTSecretKey:
  PasswordSecretKey:
HttpServer:
  Port: 9233
  ShutdownTimeout: 2s
Database:
  Main:
    Host:
    Port:
    User:
    Password:
    Name:
  Replica:
    Host:
    Port:
    User:
    Password:
    Name:
Transport:
  UserGrpc:
    Host: localhost:9090
Kafka:
  Brokers:
    - 127.0.0.1:19092
  Producer:
    topic:
  Consumer:
    topics:
      - "user-verification"
Redis:
  Addr:
  Password:
  DB: